<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>
<th:block th:insert="fragments :: menu"/>

<div class="container">
    <h1>Page that lists all the Users</h1>

    <form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" th:object="${user}">
                <th scope="row" th:text="*{id}">1</th>
                <td th:text="*{username}">prakash</td>
                <td th:text="*{email}">prakash@example.com</td>
                <td th:text="*{role}">USER, MODERATOR</td>
                <td>
                    <button type="submit" th:formaction="@{/users/edit/} + *{id}"
                            class="btn btn-outline-secondary btn-sm">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="submit" th:formaction="@{/users/delete/} + *{id}"
                            class="btn btn-outline-secondary btn-sm" onclick="return confirm('Confirm deletion?');">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

<th:block th:insert="fragments :: bootstrap"/>
</body>
</html>