<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>
<th:block th:insert="fragments :: menu"/>

<div class="container" th:object="${user}">

    <h1 th:if="${id}" th:text="|Edit User - #*{id}|"></h1>

    <form method="post">

        <input type="hidden" name="id" th:value="*{id}"/>

        <th:block th:insert="fragments :: inputTextFragment(username, 'Username')"/>
        <th:block th:insert="fragments :: inputFragment(password, 'Password', 'password')"/>
        <th:block th:insert="fragments :: inputFragment(email, 'Email', 'email')"/>
        <th:block th:insert="fragments :: inputTextFragment(role, 'Role')"/>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<th:block th:insert="fragments :: bootstrap"/>
</body>
</html>