<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>
<th:block th:insert="fragments :: menu"/>

<div class="container" th:object="${user}">

    <h1>Registration</h1>

    <!--DEBUG-->
    <!--<div th:if="${#fields.hasAnyErrors()}">-->
    <!--<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>-->
    <!--</div>-->

    <form method="post">

        <th:block th:insert="fragments :: inputTextFragment(username, 'Username')"/>
        <th:block th:insert="fragments :: inputFragment(password, 'Password', 'password')"/>
        <th:block th:insert="fragments :: inputFragment(confirmPassword, 'Confirm Password', 'password')"/>
        <th:block th:insert="fragments :: inputFragment(email, 'Email', 'email')"/>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<th:block th:insert="fragments :: bootstrap"/>
</body>
</html>