<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>

<th:block th:insert="fragments :: menu"/>

<div class="container">
    <table class="table">
        <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>

        </thead>

        <tbody>

        <tr>
            <th scope="row">Status</th>
            <td th:text="${status}"/>
        </tr>

        <tr>
            <th scope="row">Error</th>
            <td th:text="${error}"/>
        </tr>

        <tr>
            <th scope="row">Message</th>
            <td th:text="${message}"/>
        </tr>

        <tr>
            <th scope="row">Time</th>
            <td th:text="${timestamp}"/>
        </tr>

        </tbody>
    </table>
</div>

<th:block th:insert="fragments :: bootstrap"/>

</body>

</html>