<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="namespace.sec" xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <link rel="icon"
          type="image/png"
          th:href="@{/images/favicon.png}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Resident Evil</title>
</head>

<body>


<th:block th:fragment="menu">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #950F4B;">
        <a class="navbar-brand" href="/#">
            Resident Evil
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Viruses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viruses/show">
                            Show
                        </a>
                        <a sec:authorize="hasRole('MODERATOR')" class="dropdown-item" href="/viruses/add">
                            Add
                        </a>
                    </div>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/map">
                        Map
                    </a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/users">
                        Users
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/register">
                        Register
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/login">
                        Login
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

<th:block th:fragment="bootstrap">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</th:block>

<th:block th:fragment="validationMessagesContainer(fieldName)">
    <th:block th:if="${#fields.hasAnyErrors()}">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}">
            Errors
        </div>
    </th:block>
</th:block>

<th:block th:fragment="inputFragment(fieldNameParam, labelTextParam, inputTypeParam)">
    <div class="form-group" th:with="fieldName = '__${fieldNameParam}__'">
        <label th:for="${fieldName}">[[${labelTextParam}]]</label>
        <input th:type="${inputTypeParam}" class="form-control" th:id="${fieldName}"
               th:field="*{__${fieldName}__}"
               th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
        <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
    </div>
</th:block>

<th:block th:fragment="inputTextFragment(fieldNameParam, labelTextParam)">
    <th:block th:insert="fragments :: inputFragment(__${fieldNameParam}__, __${labelTextParam}__, 'text')"/>
</th:block>

<th:block th:fragment="inputCheckboxFragment(fieldNameParam, labelTextParam)">
    <div class="form-group" th:with="fieldName = '__${fieldNameParam}__'">
        <div class="form-check">
            <input th:field="*{__${fieldName}__}" class="form-check-input" type="checkbox" th:id="${fieldName}"
                   th:checked="*{__${fieldName}__}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <label class="form-check-label" th:for="${fieldName}">
                [[${labelTextParam}]]
            </label>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>
    </div>
</th:block>

<!--DEBUG-->
<th:block th:fragment="debugFragment">
    <h3>Debug</h3>
    <table class="table">
        <tr th:each="var : ${#vars.getVariableNames()}">
            <td th:text="${var}"></td>
            <td th:text="${#vars.getVariable(var)}"></td>
        </tr>
        <!-- Adding these manually because they're considered special.
        see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199
        -->
        <tr>
            <td>param</td>
            <td th:text="${#vars.getVariable('param')}"></td>
        </tr>
        <tr>
            <td>session</td>
            <td th:text="${#vars.getVariable('session')}"></td>
        </tr>
        <tr>
            <td>application</td>
            <td th:text="${#vars.getVariable('application')}"></td>
        </tr>
    </table>
    <h3>END Debug</h3>
</th:block>

</body>
</html>