<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>

<th:block th:insert="fragments :: menu"/>

<div class="container"
     th:with="currentUrl=${#vars.getVariable('org.springframework.web.servlet.HandlerMapping.pathWithinHandlerMapping')}">
    <h1>All Viruses</h1>

    <div class="alert alert-warning text-center" role="alert" th:if="${virusesPage.getTotalElements() == 0}">
        Do not forget to <b>import</b> the <b>SQL</b> file with <b>data seed</b> for the <b>Viruses</b>!
    </div>

    <th:block th:if="${virusesPage.getTotalElements() > 0}">
        <form>
            <table class="table">
                <thead>

                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Magnitude
                    </th>
                    <th scope="col">
                        Released On
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="virus: ${virusesPage}" th:object="${virus}">
                    <th scope="row" th:text="*{#strings.length(id)} > 8 ? *{#strings.substring(id,0,8)} : *{id}"
                        data-toggle="tooltip" data-placement="top" th:title="*{id}">
                        1
                    </th>

                    <td th:text="*{name}">
                        T-Virus
                    </td>

                    <td th:text="*{magnitude}">
                        MEDIUM
                    </td>

                    <td th:text="*{releasedOn}">
                        02-Feb-2018
                    </td>

                    <td>
                        <button type="submit" th:formaction="@{/viruses/edit/} + *{id}"
                                class="btn btn-outline-secondary btn-sm">
                            Edit
                        </button>
                    </td>

                    <td>
                        <button type="submit" th:formaction="@{/viruses/delete/} + *{id}"
                                class="btn btn-outline-secondary btn-sm" onclick="return confirm('Confirm deletion?');">
                            Delete
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>

        <nav aria-label="All viruses pages">
            <ul class="pagination justify-content-center">
                <li class="page-item"
                    th:classappend="${previousPageNumber == virusesPage.getNumber() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{${currentUrl}(page=${previousPageNumber})}">
                        Previous
                    </a>
                </li>

                <li th:each="pageNumber: ${pageNumbers}" class="page-item"
                    th:classappend="${pageNumber == virusesPage.getNumber() ? 'active' : ''}">
                    <a class="page-link" th:href="@{${currentUrl}(page=${pageNumber})}">
                        [[${pageNumber} + 1]]
                    </a>
                </li>

                <li class="page-item"
                    th:classappend="${!virusesPage.hasNext() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{${currentUrl}(page=${nextPageNumber})}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </th:block>
</div>

<th:block th:insert="fragments :: bootstrap"/>

<script th:inline="javascript">
/*<![CDATA[*/
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
/*]]>*/
</script>

</body>

</html>