<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>
<th:block th:insert="fragments :: menu"/>

<div class="container" th:object="${virus}">
    <h1 th:if="*{#strings.isEmpty(id)}">Spread a new Virus!</h1>
    <h1 th:if="!*{#strings.isEmpty(id)}">Edit Virus - ID [[*{id}]]</h1>

    <form th:action="@{/viruses/add}" method="post">

        <input type="hidden" name="id" th:value="*{id}"/>

        <div class="form-group" th:with="fieldName = 'name'">
            <label th:for="${fieldName}">Name</label>
            <input type="text" class="form-control" th:id="${fieldName}" th:field="*{__${fieldName}__}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'description'">
            <label th:for="${fieldName}">Description</label>
            <textarea class="form-control" th:id="${fieldName}" rows="4" th:field="*{__${fieldName}__}"
                      th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'sideEffect'">
            <label th:for="${fieldName}">Side Effect</label>
            <input th:field="*{__${fieldName}__}" type="text" class="form-control" th:id="${fieldName}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'creator'">
            <label th:for="${fieldName}">Creator</label>
            <input th:field="*{__${fieldName}__}" type="text" class="form-control" th:id="${fieldName}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'deadly'">
            <div class="form-check">
                <input th:field="*{__${fieldName}__}" class="form-check-input" type="checkbox" th:id="${fieldName}"
                       th:checked="*{__${fieldName}__}"
                       th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
                <label class="form-check-label" th:for="${fieldName}">
                    Is Deadly?
                </label>
                <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
            </div>
        </div>

        <div class="form-group" th:with="fieldName = 'curable'">
            <div class="form-check">
                <input th:field="*{__${fieldName}__}" class="form-check-input" type="checkbox" th:id="${fieldName}"
                       th:checked="*{__${fieldName}__}"
                       th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
                <label class="form-check-label" th:for="${fieldName}">
                    Is Curable?
                </label>
                <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
            </div>
        </div>

        <div class="form-group" th:with="fieldName = 'mutation'">
            <label>Mutation</label>

            <div class="form-control"
                 th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')">
                <div class="form-check" th:with="mutation1 = 'ZOMBIE'">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation1"
                           th:value="${mutation1}" th:checked="*{mutation} == ${mutation1}"/>
                    <label class="form-check-label" for="mutation1" th:text="${mutation1}"></label>
                </div>
                <div class="form-check" th:with="mutation5 = 'DO_NOT_CHOOSE_THIS'">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation5"
                           th:value="${mutation5}"/>
                    <label class="form-check-label" for="mutation5" th:text="${mutation5}"></label>
                </div>
                <div class="form-check" th:with="mutation2 = 'T_078_TYRANT'">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation2"
                           th:value="${mutation2}" th:checked="*{mutation} == ${mutation2}"/>
                    <label class="form-check-label" for="mutation2" th:text="${mutation2}"></label>
                </div>
                <div class="form-check" th:with="mutation3 = 'GIANT_SPIDER'">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation3"
                           th:value="${mutation3}" th:checked="*{mutation} == ${mutation3}"/>
                    <label class="form-check-label" for="mutation3" th:text="${mutation3}"></label>
                </div>
                <div class="form-check" th:with="mutation4 = 'Save Humanity'">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation4"
                           th:value="${mutation4}" disabled/>
                    <label class="form-check-label" for="mutation4" th:text="${mutation4}"></label>
                </div>
            </div>
            <div class="invalid-feedback" style="display: block;" th:errors="*{mutation}">
                Errors
            </div>
        </div>

        <div class="form-group" th:with="fieldName = 'turnoverRate'">
            <label th:for="${fieldName}">Turnover Rate</label>
            <input th:field="*{__${fieldName}__}" type="number" class="form-control" th:id="${fieldName}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'hoursUntilTurnToMutation'">
            <label th:for="${fieldName}">Hours Until Turn To Mutation</label>
            <input th:field="*{__${fieldName}__}" type="number" class="form-control" th:id="${fieldName}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'magnitude'">
            <label th:for="${fieldName}">Magnitude</label>
            <select th:field="*{__${fieldName}__}" class="form-control" th:id="${fieldName}"
                    th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')">
                <option value=""></option>
                <option th:with="option1 = 'Low'" th:value="${option1}" th:text="${option1}"
                        th:selected="${option1} == *{__${fieldName}__}"></option>

                <option th:with="option2 = 'Medium'" th:value="${option2}" th:text="${option2}"
                        th:selected="${option2} == *{__${fieldName}__}"></option>

                <option th:with="option3 = 'High'" th:value="${option3}" th:text="${option3}"
                        th:selected="${option3} == *{__${fieldName}__}"></option>
            </select>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>


        <div class="form-group" th:with="fieldName = 'releasedOn'">
            <label th:for="${fieldName}">Released Date</label>
            <input th:field="*{__${fieldName}__}" type="date" class="form-control" th:id="${fieldName}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"
                   th:readonly="!*{#strings.isEmpty(id)}"/>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group" th:with="fieldName = 'capitals'">
            <label th:for="${fieldName}">Affected Capitals</label>
            <select th:field="*{__${fieldName}__}" class="form-control" th:id="${fieldName}" multiple size="10"
                    th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')">
                <option th:each="capital : ${__${fieldName}__}"
                        th:value="${capital.id}" th:text="${capital.name}|"
                        th:selected="${__${fieldName}__.contains(capital)}"></option>
            </select>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<th:block th:insert="fragments :: bootstrap"/>
</body>
</html>